body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
}

button img {
    width: 80%;
    height: auto;
}

button:hover {
    opacity: 0.8;
}
